.vs/
obj/
bin/
lib/
Release/
!/eng/release/
!/eng/release/**
/eng/release/**/bin/
/eng/release/**/obj/
Debug/
*.vcxproj.filters
*.vcxproj.user
*.csproj.user
*_wpftmp.csproj
*_wpftmp.csproj.*
UpgradeLog*.htm
UpgradeLog*.xml
UpgradeReport*.htm
*.sdf
*.suo
*.opensdf
a32/
launchSettings.json
/CUETools/TestResults
/TestResults/
/evidence/
/ThirdParty/*/libFLAC_dynamic.*
/ThirdParty/*/MACLib.*
/ThirdParty/*/MACLibDll.*
/ThirdParty/*/TTALib.*
/ThirdParty/*/wavpackdll.*
/ThirdParty/*/libwavpack.*
/ThirdParty/encoders/
/ThirdPartyDebug/
publish/
